<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IvNetSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs"/>

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${message}"/>
      <target name="console_ext" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>

      <target name="LogFileInOneFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_log.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
      <target name="LogFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
      <target name="DebugFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_DEBUG.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
      <target name="TraceFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_TRACE.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
      <target name="FatalFile" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${logger}_FATAL.log" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}|${exception:format=ToString,StackTrace}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="console"/>
      <logger name="*" minLevel="Warn" writeTo="LogFileInOneFile"/>
    </rules>
  </nlog>
  <applicationSettings>
    <IvNetSwitcher.Properties.Settings>
      <setting name="Delay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HostToPing" serializeAs="String">
        <value>http://google.com</value>
      </setting>
      <setting name="EncSalt" serializeAs="String">
        <value>730DE481-2077-4D59-AF65-543669121202</value>
      </setting>
      <setting name="Profiles" serializeAs="String">
        <value>
          <![CDATA[<ArrayOfProfileDto xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ProfileDto>
              <Id>1</Id>
              <Name>name</Name>
              <User>user</User>
              <Password>Y7kMhDfy6OBXqP2BhzkQiIobGxyYdNtZVxCv3z3sZNiER/SAvYifycBy6yj5rUMrBZ3dwe9YarugZNVWgintZeRK8o64C9ggi/8rLEih/kHxklsOV4VLm1ranm9Z9DsJ</Password>
              <Domain>domain</Domain>
              <Comment>comment</Comment>
              <Active>false</Active>
            </ProfileDto>
            <ProfileDto>
              <Id>2</Id>
              <Name>name2</Name>
              <User>user2</User>
              <Password>Y7kMhDfy6OBXqP2BhzkQiIobGxyYdNtZVxCv3z3sZNiER/SAvYifycBy6yj5rUMrBZ3dwe9YarugZNVWgintZeRK8o64C9ggi/8rLEih/kHxklsOV4VLm1ranm9Z9DsJ</Password>
              <Domain>domain2</Domain>
              <Comment>comment2</Comment>
              <Active>true</Active>
            </ProfileDto>
          </ArrayOfProfileDto>]]>
        </value>
      </setting>
    </IvNetSwitcher.Properties.Settings>
  </applicationSettings>
</configuration>
